#basics
pip>=21.1.2
wheel~=0.36.2
setuptools~=57.0.0

#needed for both bots
python-dotenv~=0.19.1
discord~=1.7.3

#just needed for knuc_tats_bot
grapheme~=0.6.0
tweepy~=4.3.0

#just needed for currency_bot
gspread~=4.0.1


cryptography~=36.0.0
lxml~=4.6.4
keyring~=23.2.1
pkginfo~=1.8.1
github3.py~=3.0.0